@import "azure-devops-ui/Core/_platformCommon.scss";

.repos-pr-reviewer-vote {
  bottom: -3px;
  right: -2px;
}

.reviewer-vote-item {
  margin: 5px;
}

.pill {
  border-radius: 8px;
  margin-top: 6px;
}

.pill-draft.outlined {
  background-color: transparent;
  border-color: rgb(152, 198, 255);
  color: rgb(152, 198, 255);
}

.pill-conflicts.outlined {
  background-color: transparent;
  border-color: rgb(241, 112, 123);
  color: rgb(241, 112, 123);
}

.pill-autocomplete.outlined {
  background-color: transparent;
  border-color: rgb(221, 149, 14);
  color: rgb(221, 149, 14);
}

.title-column-subdetails {
  text-align: center;
}

.icon-column-subdetails {
  padding-top: 6px;
  padding-left: 6px;
  margin-left: 5px;
}
